* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Trebuchet MS;
  scroll-behavior: smooth;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.3rem;
  background-color: #0080ff;
}

.nav-links {
  display: flex;
  font-size: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #001f3f, #111111);
}

.welcome-main {
  font-size: 3.8rem;
  color: white;
  font-weight: 600;
}

.welcome-desc {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: lighter;
  color: #0080ff;
}

#projects {
  text-align: center;
  background-color: #0094c9;
  padding: 5rem 0;
  color: white;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.project-desc {
  display: block;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

#projects a {
  color: white;
  text-decoration: none;
  margin: 0 2rem;
  border: 1px solid black;
}

img {
  width: 100%;
  heigth: 100%;
  margin-bottom: -5px;
}

.project-name {
  background-color: #303841;
  font-size: 1.3rem;
  padding: 0.8rem;
}

#contact {
  text-align: center;
  background-color: #4f4f4f;
  padding: 4rem 0;
  color: white;
}

.contact-header {
  display: block;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.contact-links a {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  margin: 0 1rem;
  text-shadow: 5px 5px 6px black;
}

@media screen and (max-width: 600px) {
  .welcome-main {
    font-size: 3rem;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.2rem;
    background-color: #0080ff;
  }

  .nav-links {
    display: flex;
    font-size: 1.3rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0 1.5rem;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
  }

  .contact-links a {
    margin: 0.3rem 0;
  }
}
